<div class="coords">
  <span>X: {{ coords.x }}</span>
  <span> Y: {{ coords.y }}</span>
</div>

<div class="fps">
    <span>FPS: {{ fps }}</span>
</div>

<div class="playerId">
    <span>Nick: {{ playerId }}</span>
</div>

<canvas #tiles class="tiles-canvas" (click)="placeTile()"></canvas>

<div class="colors-container">
  @for(color of colors; track color){
    @if(color == selected_color)
    {
      <div class="color selected" [ngStyle]="{'background-color': color}" (click)="selectColor(color)"> 
        <span>{{ color }}</span>
      </div>
    }
    @else
    {
      <div class="color" [ngStyle]="{'background-color': color}" (click)="selectColor(color)">
        <span>{{ color }}</span>
      </div>
    }
  }
</div>
