[submodule "Operating Systems/project/OSProject"]
	path = Operating Systems/project/OSProject
	url = https://github.com/SO-AGL/OSProject
[submodule "Extension/Pegdev/page/pegdev.github.io"]
	path = Extension/Pegdev/page/pegdev.github.io
	url = https://github.com/pegdev/pegdev.github.io
[submodule "Compilers/Project/TrabCompiladores"]
	path = Compilers/Project/TrabCompiladores
	url = https://github.com/angelopra/TrabCompiladores
[submodule "Computer Networks/Project/TrabRedes"]
	path = Computer Networks/Project/TrabRedes
	url = https://github.com/angelopra/TrabRedes
