*.aux
*.log
*.gz
*.fls
*.fdb_latexmk
*.toc
*.blg
*.bbl
*.run.xml
*.bcf

papers-and-books
examples

model_weights
equation_evolution
equation_exploration
detailed_benchmarks_analysis
detailed_param_count_analysis
detailed_magical_var_analysis
results_knowledge

venv
models
.env
__pycache__